<h1>Here are all your god damn articles</h1>
<ul><% @articles.each do |article| %>
  <li><%= link_to article.title, article_path(article)  %></li>
  <% end %>
</ul>
<%= link_to 'New article', new_article_path %>
<p><%= link_to 'Go back home', root_path %></p>
